.task-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 400px;
    margin-bottom: 30px;
    margin-left: 16px;
  }
  
  .task-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .task-form button {
    width: fit-content;
    padding: 10px 16px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .task-form button:hover {
    background-color: #218838;
  }
  